<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload =" true"
      internalLogLevel ="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="Nlog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="exceptions" fileName="c:\RestaurantAPILog\nlog-all-exceptions-${shortdate}.log" xsi:type="File"
            layout="${longdate}| ${message} ${exception:format=tostring|${logger}|${event-properties:item=EventId_Id}|${uppercase:${level}}" />

    <target name="allFile" fileName="c:\RestaurantAPILog\nlog-all-${shortdate}.log" xsi:type="File"
            layout="${longdate}| ${message} ${exception:format=tostring|${logger}|${event-properties:item=EventId_Id}|${uppercase:${level}}" />

    <target name="request-time" fileName="c:\RestaurantAPILog\request-time.log" xsi:type="File"
            layout="${longdate}| ${message} ${exception:format=tostring|${logger}|${event-properties:item=EventId_Id}|${uppercase:${level}}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="RestaurantAPI.*" minlevel="Error" writeTo="exceptions" />
    <logger name="RestaurantAPI.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="request-time" />
  </rules>
</nlog>